* {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}

h1 {
  color: chocolate;
  margin: 5px;
  padding: 3px;
}

.m-5 {
  margin: 5px;
}

.m-4 {
  margin: 4px;
}

.m-3 {
  margin: 3px;
}

.m-2 {
  margin: 2px;
}

.m-1 {
  margin: 1px;
}

.p-5 {
  padding: 5px;
}

.p-4 {
  padding: 4px;
}

.p-3 {
  padding: 3px;
}

.p-2 {
  padding: 2px;
}
